.manuPoint{
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.manuPoint:hover{
    background: #F1F1F1;
    border-radius: 15px;
}

.menuText1{
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
}

.iconPoint1{
    cursor: pointer;
    padding-right: 10px;
}