.hrClass{
    width: 100%;
    border: none;
    border-top: 1px solid #EBEBEB;
}

.messageEmpty{
    text-align: center;
    width: 100%;
}

.messageText{
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.messageText:hover{
    border-radius: 15px;
    background: #EBEBEB;
}

.avatarMassage{
    margin-left: 10px;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.messageTextText{
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 30px;
}

.messageTextSub{
    width: 900px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 30px;
}

.messageTextBlock{
    flex: 1;
}

.messageTextTime{
    padding-right: 20px;
}