html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);  //нет тенней вопрос!!!
}

main{
    background: #C0DAF3;
    display: flex;
    flex: 1;
}

.ParentHead{
    background: #8FBBE6;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.LogoLOGO{
    margin: 10px 0 10px 35px;
}

.LogoTitle{
    font-size: 34px;
    font-weight: 400;
    margin-left: 30px;
    color: #FFFFFF;
}

.spaseBox{
    flex-grow: 1;
}

.Avatar{
    margin-right: 10px;
}

.AvatarMassage{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.Email{
    margin-right: 10px;
    font-size: 12px;
}

.Strelka{
    margin-right: 30px;
}

.ParentMain{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    background: #C0DAF3;
}

.Menu{
    display: flex;
    max-height: 850px;
    flex-direction: column;
    padding: 25px 25px 25px 25px;
    width: 240px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.sendMassage{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    background: #EBEBEB;
}

.sendMassageText{
    padding: 10px;
    font-size: 15px;
}

.sendMassageBlock{
    flex: 1;
}
.sendMassageIcon{
    border-left-color: #C0DAF3;
    padding: 10px;
    width: 14px;
    height: 9px;
}

.menuText{
    margin-left: 10px;
    font-size: 18px;
}

.manuPoint{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
}

.iconPoint{
    padding-right: 10px;
}

.Massage{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 25px 40px 25px 40px;
    background: #FFFFFF;
}

.MassageText{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.MassageTextText{
    padding-left: 30px;
    font-size: 20px;
}

.MassageTextSub{
    padding-left: 30px;
    font-size: 20px;
    color: #D8D8D8;
}

.MassageTextBlock{
    flex: 1;
}

.MassageTextTime{
    padding-right: 20px;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
}