html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}
.parentHead{
    position: fixed;
    user-select: none;
    top: 0;
    background: #8FBBE6;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.linked{
    display: flex;
    text-decoration: none;
}

.spaseBox{
    flex: 1;
}

header{
    display: inline;
    top: 0;
}

.profile{
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logoTitle{
    margin-left: 30px;
}

.email{
    font-size: 12px;
}

.logoLogo{
    margin: 10px 0 10px 35px;
}

.avatar{
    margin-right: 10px;
}

.arrow {
    padding: 20px 20px 20px 5px;
    margin-right: 30px;
    cursor: pointer;
}

.openFolder{
    float: right;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background: #FFFFFF;
    right: 0px;
    top: 60px;
}
.openFolder > * {
    cursor: pointer;
}

.exit{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.exit:hover{
    background: #F1F1F1;
    border-radius: 15px;
}

.iconPoint{
    cursor: pointer;
    padding-right: 10px;
}

.menuText{
    margin-left: 10px;
    font-size: 18px;
}

.manuPoint{
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.manuPoint:hover{
    background: #F1F1F1;
    border-radius: 15px;
}

.menuText1{
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
}

.iconPoint1{
    cursor: pointer;
    padding-right: 10px;
}

.mainParent{
    background: #C0DAF3;
    margin-top: 60px;
    display: flex;
    flex: 1;
}

.parentMain{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    background: #C0DAF3;
}

.menu{
    position: fixed;
    top: 80px;
    z-index: 1;
    display: flex;
    height: calc(100vh - 150px);
    flex-direction: column;
    padding: 25px 25px 25px 25px;
    width: 240px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.iconPoint{
    cursor: pointer;
    padding-right: 10px;
}

.menuText{
    margin-left: 10px;
    font-size: 18px;
}

.hrClass{
    width: 100%;
    size: 1px;
    color: #EBEBEB;
}

.messageEmpty{
    text-align: center;
    width: 100%;
}

.messageText{
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.avatarMassage{
    margin-left: 10px;
    margin-right: 15px;
    width: 40px;
    height: 40px;
}

.messageTextText{
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 30px;
}

.messageTextSub{
    width: 900px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 30px;
}

.messageTextBlock{
    flex: 1;
}

.messageTextTime{
    padding-right: 20px;
}

.avatarOutput{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*аыфафыа*/

.menuOutput{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.OutputText{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 100%;
}

.flexLine{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textInput{
    margin-top: 5px;
    font-size: 17px;
    width: 100%;
    flex: 1;
    height: 400px;
    background: #FFFFFF;
    margin-left: 10px;
    border: none;
    resize: none;
}

.textInput:focus, .textInput:focus{
    outline: none;
}

.textInput:hover{
    outline: none;
    border-color: #FFFFFF;
}

.hrClass{
    width: 100%;
    border: none;
    border-top: 1px solid #EBEBEB;
}

.messageOutPut{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 310px;
    height: 600px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 25px 40px 25px 40px;
    background: #FFFFFF;
}

.btnClassOutput{
    font-size: 15px;
    margin-top: 10px;
}

.btnS{
    width: 100px;
    height: 40px;
}

.btnPrimary{
    border-radius: 5px;
    border: 0;
    background: var(--background-color-icon-theme1);
    color: #FFFFFF;
}

.btnPrimary:hover{
    cursor: pointer;
    background: #275682;
}


/*maillist*/

.avatarOutputMail{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.bolt{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.loginIncome{
    margin-left: 15px;
}

.timeIncome{
    margin-left: 30px;
}

.listEmailText{
    flex: 1;
    white-space: pre;
    overflow: auto;
    width: 100%;
}

.greyLine{
    width: 100%;
    height: 50px;
    background: #EBEBEB;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.otvet{
    cursor: pointer;
    margin: 5px 5px 5px 20px;
    padding: 2px 10px 2px 10px;
    height: 30px;
    display: flex;
    align-items: center;
}

.otvet:hover{
    background-color: #cccccc;
    border-radius: 10px;
}

.otvetText{
    margin-left: 10px;
}

/*profile*/

.containerProfile {
    background-color: #C0DAF3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.blockProfileMenu{
    display: flex;
    flex-direction: column;
    border-radius: 15px 0 0 15px;
    background: #FFFFFF;
    border-right: 1px solid #cccccc;
    width: 13%;
    height: 70%;
}

.blockProfileMain{
    border-radius: 0 15px 15px 0;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 35%;
    height: 70%;
}

.LogoProfile {
    width: 70px;
}

.avatarProfile{
    margin-top: 20px;
    border-radius: 50%;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100px;
}

.avatarReduct{
    cursor: pointer;
    position: absolute;
    margin-top: 20px;
    opacity: 0;
    width: 50px;
    padding: 25px;
    z-index: 1;
    top: 0px;
    left: 0px;
}

.avatarReduct:hover{
    opacity: 1;
}

.showboxLeft {
    box-shadow: -7px 0px 15px rgba(0,0,0,0.25);
}

.showboxRight {
    box-shadow: 7px 0px 15px rgba(0,0,0,0.25);
}

.inputProfile{
    margin-top: 20px;
}

.profileSet{
    position: relative;
}

/*error*/
.messageErrorBigBox{
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    display: flex;
}

.messageErrorBox{
    align-content: center;
    justify-content: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    width: 300px;
    border-radius: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    margin: auto;
}

.start{
    align-content: flex-start;
}















