.mainParent{
    background: #C0DAF3;
    margin-top: 60px;
    display: flex;
    flex: 1;
}

.parentMain{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    background: #C0DAF3;
}

.menu{
    position: fixed;
    top: 80px;
    z-index: 1;
    display: flex;
    height: calc(100vh - 150px);
    flex-direction: column;
    padding: 25px 25px 25px 25px;
    width: 240px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.manuPoint{
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.manuPoint:hover{
    background: #F1F1F1;
    border-radius: 15px;
}

.iconPoint{
    cursor: pointer;
    padding-right: 10px;
}

.iconPoint1{
    cursor: pointer;
    padding-right: 10px;
}

.menuText{
    margin-left: 10px;
    font-size: 18px;
}

.menuText1{
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
}

.openFolder{
    float: right;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background: #FFFFFF;
    right: 0px;
    top: 60px;
}
.openFolder > * {
    cursor: pointer;
}

.exit{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.exit:hover{
    background: #F1F1F1;
    border-radius: 15px;
}