<main class="mainParent">
    <div id="{{idMain}}" class="parentMain">
        <div class="menu">
            {{#each items}}
                {{{this}}}
            {{/each}}
        </div>
    </div>
</main>