.btnS{
    width: 100px;
    height: 40px;

    font-size: 17px;
    font-weight: 300;
    font-family: Roboto, 'sans-serif';
}

.btnL{
    width: 320px;
    height: 40px;

    font-size: 17px;
    font-weight: 300;
    font-family: Roboto, 'sans-serif';
}

.btnXL{
    width: 400px;
    height: 40px;

    font-size: 17px;
    font-weight: 300;
    font-family: Roboto, 'sans-serif';
}

.btnPrimary{
    border-radius: 5px;
    border: 0;
    background: #2E6395;
    color: #FFFFFF;
}

.btnPrimary:hover{
    cursor: pointer;
    background: #275682;
}

.btnSecondary{
    border-radius: 5px;
    border: 0;
    background: #EBEBEB;
    color: #000000;
}

.btnSecondary:hover{
    cursor: pointer;
    background: #DBDBDB;
}