<div class="messageOutPut">
    <p class="bolt">
        Тема сообщения
    </p>
    <div class="menuOutput">
        <img class="avatarOutputMail" src="./image/avatar.svg">
        <p class="loginIncome">
            roman@over.com
        </p>
        <p class="timeIncome">
            Вчера, 10:00
        </p>
    </div>
    <hr class="hrClass">
    <p class="listEmailText">fsafagagagasgasfafaf\n fsafagagagasgasfafaf
        fsafagagagasgasfafaf fsafagagagasgasfafaf
        fsafagagagasgasfafaf fsafagagagasgasfafaf
        fsafagagagasgasfafaf fsafagagagasgasfafaf
        fsafagagagasgasfafaf fsafagagagasgasfafaf
        fsafagagagasgasfafaf fsafagagagasgasfafaf
        fsafagagagasgasfafaf fsafagagagasgasfafaf
        fsafagagagasgasfafaf fsafagagagasgasfafaf
        fsafagagagasgasfafaf fsafagagagasgasfafaf
        fsafagagagasgasfafaf fsafagagagasgasfafaf
        fsafagagagasgasfafaf fsafagagagasgasfafaf
        fsafagagagasgasfafaf fsafagagagasgasfafaf
        fsafagagagasgasfafaf fsafagagagasgasfafaf
        fsafagagagasgasfafaf fsafagagagasgasfafaf
        fsafagagagasgasfafaf fsafagagagasgasfafaf
        fsafagagagasgasfafaf fsafagagagasgasfafaf
        fsafagagagasgasfafaf fsafagagagasgasfafaf
    </p>
    <hr class="hrClass">
    <div class="greyLine">
        <div class="otvet">
            <img src="image/otvet.svg">
            <p class="otvetText">
                Ответить
            </p>
        </div>
        <div class="otvet">
            <img src="image/reMail.svg">
            <p class="otvetText">
                Переслать
            </p>
        </div>
    </div>
</div>