<header>
    <div class="parentHead">
        <a href="{{logoLink}}" class="linked">
        <img class="logoLogo" src="{{logoSvg}}" alt="Logo">
        {{> logoText}}
        </a>
        <div class="spaseBox"></div>
        <div class="profile">
            <img class="avatar" src="{{profileAvatar}}" alt="avatar">
            {{> login}}
            <img class="arrow" src="{{arrow}}" alt="arrow">
        </div>
    </div>
</header>