<main class="mainParent">
    <div id="{{idMain}}" class="parentMain">
        <div class="menu">
            {{#each items}}
                {{{this}}}
            {{/each}}
            <hr class="hrClass">
            {{{newDirectory}}}
            {{#each directories}}
                {{{this}}}
            {{/each}}
        </div>
    </div>
</main>