@import 'ui-kit/TextAndClass/TextAndClass.css';
@import 'ui-kit/ImageAndClass/ImageAndClass.css';
@import 'ui-kit/DivAndClass/DiveAndClass.css';
@import "components/Header/Header.css";
@import "components/Menu/Menu.css";
@import "components/Message/Message.css";

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}