html, body {
    width: 100%;
    height: 100%;
    background-image: url("http://127.0.0.1/static/overmail_bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: black;
}