.message{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 25px 40px 25px 40px;
    background: #FFFFFF;
}

.messageEmpty{
    text-align: center;
    width: 100%;
    font-size: 2.5vh;
    color: #D8D8D8;
}

.messageText{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.avatarMassage{
    margin-left: 10px;
    margin-right: 15px;
    width: 40px;
    height: 40px;
}

.messageTextText{
    padding-left: 30px;
    font-size: 20px;
}

.messageTextSub{
    padding-left: 30px;
    font-size: 20px;
    color: #D8D8D8;
}

.messageTextBlock{
    flex: 1;
}

.messageTextTime{
    padding-right: 20px;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
}